.header {
  width: 100%;
  height: 1000px;
  background: url("../img/home/home.jpg") left top/100% 100% no-repeat;
}
.header__nav {
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__nav-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  cursor: pointer;
}