.header {
    width: 100%;
    height: 1000px;
    background: url('../img/home/home.jpg')left top /100% 100% no-repeat;
    z-index: -1;


    &__nav {
        width: 100%;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: space-between;


        &-icons {
            display: flex;
            gap: 40px;
            cursor: pointer;
        }
    }
}