.immersion {
    /* Rectangle 593 */
    width: 100%;
    height: 676px;
    background: rgba(248, 242, 0, 1);

    &__container {
        display: flex;

        gap: 32px;
        margin-top: 70px;
    }

    &__igames {
        margin-top: 70px;

        &-someImg {
            display: flex;
            justify-content: center;
            gap: 25px;
        }

    }

    &__text {
        margin-top: 70px;

        &-title {
            color: rgba(0, 0, 0, 1);

            font-family: "Archangelsk", sans-serif;
            font-size: 62px;
            font-weight: 400;
            line-height: 74px;
            letter-spacing: 0%;
            text-align: left;
        }

        &-subtitle {
            color: rgba(0, 0, 0, 1);

            font-family: "Roboto", sans-serif;
            font-size: 18px;
            font-weight: 400;
            line-height: 34px;
            letter-spacing: 0%;
            text-align: left;
            margin-bottom: 45px;
        }

        &-icon {

            display: flex;
            align-items: center;
            gap: 8px;

        }

        &-btn {
            margin-top: 35px;
            background: rgba(0, 0, 0, 1);
            /* Frame 5 */
            width: 194px;
            height: 59px;
            /* Автолейаут */
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 10;
            padding: 15px 50px 15px 50px;
            color: rgba(248, 242, 0, 1);

            font-family: "Roboto", sans-serif;
            font-size: 18px;
            font-weight: 700;
            line-height: 21px;
            letter-spacing: 0%;
            text-align: left;
            cursor: pointer;

            &:hover {
                background-color: white;
                color: black;
            }


        }
    }
}