.play {
  width: 100%;
  height: 814px;
  background-color: black;
  margin-top: 490px;
  
  &__text {
    margin-top: 00px;

    width: 100%;
    &-title {
      display: flex;
      align-items: flex-end;
      gap: 14px;
      color: rgba(255, 255, 255, 1);

      font-family: "Archangelsk", sans-serif;
      font-size: 62px;
      font-weight: 400;
      line-height: 74px;
      letter-spacing: 0%;
      text-align: left;
      img {
        /* Group 215 */
        width: 132px;
        height: 132px;
      }
    }
    &-subtitle {
      font-family: "Roboto", sans-serif;
      color: white;
      font-size: 18px;
      font-weight: 400;
      line-height: 34px;
      letter-spacing: 0%;
      text-align: left;
      margin-top: 30px;
      span {
        color: skyblue;
      }
    }
  }
  &__blok {
    
    /* Group 216 */
width: 100%;
height: 456px;
    display: flex;
    gap: 40px;


  }
  &__form {
    margin-top: 98px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    width: 460px;
    justify-content: center;
    align-items: start;

    &-file {
      width: 460px;
      height: 120px;
      border: 1px solid rgb(252, 249, 249);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-style: dashed;
    }

    label {
      color: white;
    }

    input {
      border: none;
      width: 460px;
      border-bottom: 1px solid white;
      background-color: transparent;
    }

    input[type="file"] {
      opacity: 0; /* Делает input полностью прозрачным */
      position: absolute; /* Позволяет позиционировать его поверх другого элемента */
      width: 0.1px; /* Минимизирует размер, чтобы его было невозможно нажать */
      height: 0.1px;
      overflow: hidden; /* Скрывает любой контент, выходящий за пределы */
    }

    button {
      width: 192px;
      height: 59px;
      background: rgba(248, 242, 0, 1);
      font-size: 18px;
      color: rgba(0, 0, 0, 1);
      font-family: Roboto;
      font-weight: 700;
      line-height: 21px;
      letter-spacing: 0%;
    }
    
    
  }
  &__image {
    width: 780px;
    background: url('../img/play/Group\ 216.png')left top/100% 100% no-repeat;
   
    display: flex;
        align-items: center;
    justify-content: center;
    gap: 20px;
    img {
      width: 296px;
height: 351px;

    }
  }
}
