.play {
  width: 100%;
  height: 500px;
  background-color: black;
  margin-top: 490px;
  &__text {
    margin-top: 00px;

    width: 100%;
    &-title {
      display: flex;
      align-items: flex-end;
      gap: 14px;
      color: rgba(255, 255, 255, 1);

      font-family: "Archangelsk", sans-serif;
      font-size: 62px;
      font-weight: 400;
      line-height: 74px;
      letter-spacing: 0%;
      text-align: left;
      img {
        /* Group 215 */
        width: 132px;
        height: 132px;
      }
    }
  }
}
