@import url('../fonts/Archangelsk/stylesheet.css');
@import url('../fonts/Roboto/stylesheet.css');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}


@import 'header';
@import 'home';
@import 'info';